<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <h2><%= message %></h2>
  <% end %>
<% end %>

<div class="enter-info-page">

  <h1>Log In</h1>

  <div class="enter-info-form">
  <%= form_for :session, url: logging_in_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit value: 'Log In' %>
  <% end %>
  </div>

  <h2>Don't have an account? <%= link_to 'Click here to create one!', create_account_path %></h2>

</div>