<h1><%= @logged_in_user.username %>'s favorite 90s stuff</h1>

<h2>Favorite 90s Movies:</h2>

<div class="index-container">
  <% @favorite_movies.each do |movie| %>
  <div class="index-tile">
    <img src="<%=movie.img_url%>">
    <p>Title: <%= movie.title %></p>
    <p>Genre: <%= movie.genre %></p>
    <p>Box Office: <%= movie.box_office %></p>
    <p>Description: <%= movie.description %></p>
    <a href="<%= movie.external_link_1 %>">Learn more about <%=movie.title%> on Wikipedia</a><br>
    <a href="<%= movie.external_link_2 %>">Watch the trailer for <%=movie.title%> on YouTube</a>
    <%= form_for :user_favorite, url: remove_from_favorites_path, method: :delete do |f| %>
      <%= f.hidden_field :movie_id, value: movie.id %>
      <%= f.submit value: "Remove from Favorites" %>
    <% end %>
  </div>
  <% end %>
</div>

<h2>Favorite 90s Songs:</h2>

<div class="index-container">
  <% @favorite_songs.each do |song| %>
  <div class="index-tile">
    <img src="<%=song.img_url%>">
    <p>Title: <%= song.title %></p>
    <p>Artist: <%= song.artist %></p>
    <p>Genre: <%= song.genre %></p>
    <a href="<%= song.external_link_1 %>">Learn more about <%=song.title%> on Wikipedia</a>
    <a href="<%= song.external_link_2 %>">Watch the music video for <%=song.title%> on YouTube</a>
    <%= form_for :user_favorite, url: remove_from_favorites_path, method: :delete do |f| %>
      <%= f.hidden_field :song_id, value: song.id %>
      <%= f.submit value: "Remove from Favorites" %>
    <% end %>
    </div>
  <% end %>
</div>

<h2>Favorite 90s Games:</h2>

<div class="index-container">
  <% @favorite_games.each do |game| %>
  <div class="index-tile">
    <img src="<%=game.img_url%>">
    <p>Title: <%= game.title %></p>
    <p>Genre: <%= game.genre %></p>
    <p>Platform: <%= game.platform %></p>
    <p>Publisher: <%= game.publisher %></p>
    <p>Description: <%= game.description %></p>
    <a href="<%= game.external_link_1 %>">Learn more about <%=game.title%> on Wikipedia</a>
    <a href="<%= game.external_link_2 %>">Watch gameplay of <%=game.title%> on YouTube</a>
    <%= form_for :user_favorite, url: remove_from_favorites_path, method: :delete do |f| %>
      <%= f.hidden_field :game_id, value: game.id %>
      <%= f.submit value: "Remove from Favorites" %>
    <% end %>
  </div>
  <% end %>
</div>