<h1 class="year-header">Welcome to the year <%= @year %>!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <h2><%= message %></h2>
  <% end %>
<% end %>

<h2 class="subject-header">Top Box Office Hits from <%= @year %>:</h2>
<div class="index-container">
  <% @movies.each do |movie| %>
  <div class="index-tile">
      <a href="<%= movie.external_link_1 %>"><img class="movie-img" src="<%=movie.img_url%>"></a>
      <p><em>Title:</em> <%= movie.title %></p>
      <p><em>Genre:</em> <%= movie.genre %></p>
      <p><em>Box Office:</em> <%= movie.box_office %></p>
      <p><em>Description:</em></p> <p><%= movie.description %></p>
      <a href="<%= movie.external_link_1 %>">Learn more about <%=movie.title%> on Wikipedia</a>
      <br><br>
      <a href="<%= movie.external_link_2 %>">Watch the trailer for <%=movie.title%> on YouTube</a>
      <br><br>
      <% if @logged_in_user %>
        <%= form_for :user_favorite, url: add_to_favorites_path do |f| %>
          <%= f.hidden_field :movie_id, value: movie.id %>
          <%= f.submit value: "Add to Favorites" %>
        <% end %>
      <% end %>
    </div>
    <% end %>
</div>

<br>
<hr>
<br>

<h2 class="subject-header">Chart Toppers of <%= @year %>:</h2>
<div class="index-container">
  <% @songs.each do |song| %>
  <div class="index-tile">
    <a href="<%= song.external_link_1 %>"><img src="<%=song.img_url%>"></a>
    <p><em>Title:</em> <%= song.title %></p>
    <p><em>Artist:</em> <%= song.artist %></p>
    <p><em>Genre:</em> <%= song.genre %></p>
    <a href="<%= song.external_link_1 %>">Learn more about <%=song.title%> on Wikipedia</a>
    <br><br>
    <a href="<%= song.external_link_2 %>">Watch the music video for <%=song.title%> on YouTube</a>
    <br><br>
    <% if @logged_in_user %>
      <%= form_for :user_favorite, url: add_to_favorites_path do |f| %>
        <%= f.hidden_field :song_id, value: song.id %>
        <%= f.submit value: "Add to Favorites" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>

<br>
<hr>
<br>

<h2 class="subject-header">Hottest Video Games of <%= @year %>:</h2>
<div class="index-container">
  <% @games.each do |game| %>
  <div class="index-tile">
    <a href="<%= game.external_link_1 %>"><img src="<%=game.img_url%>"></a>
    <p><em>Title:</em> <%= game.title %></p>
    <p><em>Genre:</em> <%= game.genre %></p>
    <p><em>Platform:</em> <%= game.platform %></p>
    <p><em>Publisher:</em> <%= game.publisher %></p>
    <p><em>Description:</em></p> <p><%= game.description %></p>
    <a href="<%= game.external_link_1 %>">Learn more about <%=game.title%> on Wikipedia</a>
    <br><br>
    <a href="<%= game.external_link_2 %>">Watch gameplay of <%=game.title%> on YouTube</a>
    <br><br>
    <% if @logged_in_user %>
      <%= form_for :user_favorite, url: add_to_favorites_path do |f| %>
        <%= f.hidden_field :game_id, value: game.id %>
        <%= f.submit value: "Add to Favorites" %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
<br><br>