<h1 class="years-page-header">Select a year:</h1>

<div class="years-box">
  <ul>
    <li><%= link_to '1990', '/1990' %></li>
    <li><%= link_to '1991', '/1991' %></li>
    <li><%= link_to '1992', '/1992' %></li>
    <li><%= link_to '1993', '/1993' %></li>
    <li><%= link_to '1994', '/1994' %></li>
    <li><%= link_to '1995', '/1995' %></li>
    <li><%= link_to '1996', '/1996' %></li>
    <li><%= link_to '1997', '/1997' %></li>
    <li><%= link_to '1998', '/1998' %></li>
    <li><%= link_to '1999', '/1999' %></li>
  </ul>
</div>