<!DOCTYPE html>
<html>
  <head>
    <title>90s Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <% greetings = ["Sup", "Hang tight", "Keep it rad", "Booyah", "You da bomb", "WAZZUUUUUUP", "Don't touch that dial", "You've got mail", "It wasn't me", "Totally tubuluar", "Gnarly", "Bodacious", "Keep it real", "Don't have a cow", "Eat my shorts", "No Duh", "Take a chill pill", "Let's bounce", "Oh snap", "Bling bling", "What's the 411", "Talk to the hand", "I'm totally buggin'", "All that and a bag of chips", "Cowabunga", "Radical", "As if", "Let's kick it", "Who's your daddy", "Don't be a buster"] %>

    <div class="topnav">
    <a href="/">Home</a>
    <div class="dropdown">
      <button class="dropbtn"><a href="/years">Years</a>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/1990">1990</a>
        <a href="/1991">1991</a>
        <a href="/1992">1992</a>
        <a href="/1993">1993</a>
        <a href="/1994">1994</a>
        <a href="/1995">1995</a>
        <a href="/1996">1996</a>
        <a href="/1997">1997</a>
        <a href="/1998">1998</a>
        <a href="/1999">1999</a>
        </div>
      </div>
    <a href="/favorites">Favorites</a>
    <% if @logged_in_user %>
      <%= link_to 'Log Out', log_out_path, method: 'delete' %>
      <p class="right"><%= greetings.sample %>, <%= @logged_in_user.username %></p>
    <% else %>
      <a href="/login">Log In</a>
      <a href="/create_account">Create Account</a>
    <% end %>
    </div>
    
    
    <%= yield %>

  </body>
</html>
