<!DOCTYPE html>
<html>
  <head>
    <title>NinetiesGenerator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <div class="topnav">
    <a href="/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Years
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/1990">1990</a>
        <a href="/1991">1991</a>
        <a href="/1992">1992</a>
        <a href="/1993">1993</a>
        <a href="/1994">1994</a>
        <a href="/1995">1995</a>
        <a href="/1996">1996</a>
        <a href="/1997">1997</a>
        <a href="/1998">1998</a>
        <a href="/1999">1999</a>
        </div>
      </div>
    <a href="/favorites">Favorites</a>
    <% if @logged_in_user %>
      <%= link_to 'Log Out', log_out_path, method: 'delete' %>
    <% else %>
      <a href="/login">Log In</a>
      <a href="/create_account">Create Account</a>
    <% end %>
    </div>

    <%= yield %>

  </body>
</html>
